@import "base/vars";     //импортируем переменные
@import "base/fonts";    //импортируем шрифты
@import "base/mixins";   //импортируем миксины

html {
    box-sizing: border-box;
}
*,*::after,*::before {
    box-sizing: inherit;
}

body {
    overflow-x: hidden;
    min-width: 320px;
    background-color: royalblue;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}